{% extends 'index.html' %}
{% block content %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">This is the inventory page</h1>
                </div>
                <table class="table" id="table">
{#                {% for item in column_names %}#}
{#                    <th> {{ item }}</th>#}
{#                {% endfor %}#}
                {% for item in details_list %}
                    <tr>
                    {% for detail_item in item %}
                        <td> {{ detail_item }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
</div>
{% endblock %}