{% extends 'index.html' %}
{% block content %}
{% load static %}
<div id="page-wrapper">
<script>
    var data = {{ details_list|safe }};
</script>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">This is the inventory page</h1>
                </div>
                <div id="table-section">
                    <table class="table" id="table">
                        <tr>
                            <th onclick="sortTable(0)">IP Address(s)</th>
                            <th onclick="sortTable(1)">MAC Address(s)</th>
                            <th onclick="sortTable(2)">Hostname</th>
                            <th onClick="sortTable(3)">Connected Devices</th>
                            <th onclick="sortTable(4)"># of Ports</th>
                            <th onclick="sortTable(5)">Vendor</th>
                            <th onclick="sortTable(6)">Model</th>
                        </tr>
                    </table>
                </div>
            </div>
</div>
<script src="{% static 'js/inventory-table.js' %}"></script>
<script src="{% static 'js/jspdf.min.js' %}"></script>
<script src ="{% static 'js/export_to_file.js' %}"></script>
{% endblock %}