{% extends 'index.html' %}
{% block content %}
{% load static %}
<script type="text/javascript">
    DJANGO_STATIC_URL = '{{ STATIC_URL }}';
</script>
<div id="page-wrapper">
        <script>
            var JS_LIST = {{ device_list|safe }};
        </script>
            <div class="row">
                <div id="main-div" class="col-lg-12">
                    <h1 class="page-header">This is the topology page</h1>
                </div>
                <div id="myModal" class="modal">
                    <div id="myModalContent" class="modal-content">
                        <span class="close">&times;</span>
                    </div>
                </div>
            </div>
</div>
<script src="{% static 'js/topology-canvas.js' %}"></script>
{% endblock %}