{% extends 'index.html' %}
{% block content %}
{% load static %}
<script type="text/javascript">
    DJANGO_STATIC_URL = '{{ STATIC_URL }}'
</script>
<div id="page-wrapper">
            <div class="row">
                <div id="main-div" class="col-lg-12">
                    <h1 class="page-header">This is the topology page</h1>
                    <canvas id="canvas" device-list-var="{{ device_list }}">
                        <script type="text/javascript" src="{% static 'js/topology-canvas.js' %}">
                        var device_list = JSON.parse(document.getElementById('canvas')[0].getAttribute('device-list-var') || '{}');
                        </script>
                        <button onclick="document.write('help me')">Try It</button>
                        This is my canvas
                    </canvas>
                </div>
            </div>
</div>
{% endblock %}