{% extends 'index.html' %}
{% block content %}
{% load static %}
<script type="text/javascript">
    DJANGO_STATIC_URL = '{{ STATIC_URL }}';
</script>
<div id="page-wrapper">
        <script>
            var JS_LIST = "{{ device_list }}";
        </script>
            <div class="row">
                <div id="main-div" class="col-lg-12">
                    <h1 class="page-header">This is the topology page</h1>
{#                    <canvas id="canvas" style="border: 1px solid black;" data-js-vars="{{ device_list }}">#}
                        <script type="text/javascript" src="{% static 'js/topology-canvas.js' %}">
                        </script>
{#                        This is my canvas#}
{#                    </canvas>#}
                </div>
            </div>
</div>
{% endblock %}